{% extends 'base.html.twig' %}

{% block title %}Streaming{% endblock %}

{% block body %}
    <h1>Streaming</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ streaming.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ streaming.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ streaming.prix }}</td>
            </tr>
            <tr>
                <th>Qualité</th>
                <td>{{ streaming.qualité }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('streaming_index') }}">back to list</a>

    <a href="{{ path('streaming_edit', {'id': streaming.id}) }}">edit</a>

    {{ include('streaming/_delete_form.html.twig') }}
{% endblock %}
